<div class="p-col-12 p-md-12 p-lg-12">
    <div class="p-grid">
        <div class="p-col-1"></div>
        <div class="p-col-12 p-md-12 p-lg-12">
            <p-panel header="Attendance Image">
                <p-card>
                    <form #f="ngForm" name="attendanceimageForm">
                        <div class="p-col-12 p-md-12 p-lg-12 ">
                            <div class="p-grid">
                                <!-- <div class="p-col-12 p-md-6 p-lg-1"></div> -->
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <label for="_Districtcode">District Name</label>
                                    <input type="text" name="districtname" pInputText [(ngModel)]="districtname"
                                        required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <label for="_TalukId">Taluk Name</label>
                                    <input type="text" name="talukname" [(ngModel)]="talukname" pInputText required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <label for="_Hostel">Hostel Name</label>
                                    <input type="text" name="hostelname" [(ngModel)]="hostelname" pInputText required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2 ">
                                    <div><label for="_Hosteltype">Upload Date</label></div>
                                    <p-calendar [(ngModel)]="date" name="_date" [monthNavigator]="true"
                                        [yearNavigator]="true" [showIcon]="true" required>
                                    </p-calendar>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label></label></div>
                                    <div class="actionBtn" (click)="camera()" style="margin-top: 23px;"
                                        title="Take Picture">📸</div>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label></label></div>
                                    <button pButton type="button" class="p-col-12" label="Capture" (click)="capture()"
                                        style="margin-top: 23px;" icon="pi pi-camera" class="btn-bg"></button>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2" style="margin-top: 23px;">
                                    <label for="_Remarks">Remarks</label>
                                    <input type="text" name="remarks" [(ngModel)]="remarks" pInputText required />
                                </div>
                                <div *ngIf="openCamera">
                                    <app-camera (pictureTaken)="handleImage($event)" [capture]="triggerObservable"
                                        (triggerCamera)="captureImage()" style="margin-left: 3%;"></app-camera>
                                </div>
                                <div class="snapshot" *ngIf="webcamImage">
                                    <img #webCamImg [src]="webcamImage.imageAsDataUrl" />
                                </div>
                            </div>
                            <div class="p-col-12 txt-center">
                                <button pButton type="button" label="Submit" (click)="onSubmit()" class="btn-bg"
                                    style="margin-left: 3%;"></button>
                                <button pButton type="button" label="View" (click)="onView()" class="btn-bg"
                                    style="margin-left: 4%;"></button>
                            </div>
                        </div>
                        </form>
                </p-card>
            </p-panel>
        </div>
    </div>
</div>