<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12">
        <p-toast position="top-center" key="t-msg"></p-toast>
        <p-panel header="Hostel GO">
            <form #f="ngForm" name="hostelgoForm">
                <p-card>
                    <div class="p-col-12 no-pad-top" style="margin-left: -8px;">
                        <div #row1 class="p-col-12 p-md-12 p-lg-12">
                            <div class="p-grid">
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <label for="_district">District<span class="form-mandatory-field">*</span></label>
                                    <p-dropdown name="_district" [options]="districtOptions" [(ngModel)]="district"
                                        (onClick)="onSelect('DT')" optionLabel="label" required>
                                    </p-dropdown>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <label for="_Taluk">Taluk<span class="form-mandatory-field">*</span></label>
                                    <p-dropdown name="_Taluk" [options]="TalukIdOptions" [(ngModel)]="Taluk"
                                        (onClick)="onSelect('TK')" optionLabel="label" [disabled]="disableTaluk"
                                        required>
                                    </p-dropdown>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <label for="_Hostel">Hostel Name<span class="form-mandatory-field">*</span></label>
                                    <p-dropdown name="_Hostel" [options]="HostelOptions" [(ngModel)]="Hostel"
                                        optionLabel="label" required>
                                    </p-dropdown>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_Gono">Go. No<span class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="text" name="_Gono" class="p-col-12" pInputText [(ngModel)]="Gono"
                                        required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_GoDate">Go.Date<span class="form-mandatory-field">*</span></label>
                                    </div>
                                    <p-calendar [showOtherMonths]="false" [(ngModel)]="GoDate" name="_GoDate"
                                        [showIcon]="true" [monthNavigator]="true" required></p-calendar>
                                </div>
                                <div #row2 class="p-col-12 p-md-12 p-lg-12">
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-6 p-lg-2">
                                            <div><label for="_Totalstudent">Total no. of Students<span
                                                        class="form-mandatory-field">*</span></label>
                                            </div>
                                            <input type="text" name="_Totalstudent" class="p-col-12" pInputText
                                                [(ngModel)]="Totalstudent" required />
                                        </div>
                                        <div class="p-col-12 p-md-6 p-lg-2">
                                            <div><label for="_Remarks">Remarks<span
                                                        class="form-mandatory-field">*</span></label>
                                            </div>
                                            <textarea type="text" name="_Remarks" class="p-col-12" pInputText
                                                [(ngModel)]="Remarks" rows="2" cols="15" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-col-12 p-md-12 p-lg-12 txt-center">
                                    <button pButton type="button" label="Submit" (click)="onSave()" icon="pi pi-save"
                                        class="btn-bg" style="margin-right: 20px;"></button>
                                    <button pButton type="button" label="View" (click)="onView()" icon="pi pi-eye"
                                        class="btn-bg"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10"
                        [rowsPerPageOptions]="[5,10,15,20]" totalRecords="totalRecords"
                        styleClass=p-datatable-gridlines>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th>S.No</th>
                                <th *ngFor="let col of columns" [style.width]="col.width">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                            <tr [pSelectableRow]="rowData" class="cursor-pointer"
                                (dblclick)="onRowSelect($event, rowData)">
                                <td>{{rowIndex+1}}</td>
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </form>
        </p-panel>
    </div>
</div>