<div class="p-col-12 p-md-12 p-lg-12 ">
    <div class="p-grid">
        <div class="p-col-1"></div>
        <div class="p-col-12 p-md-12 p-lg-12">
            <p-toast position="top-center" key="t-msg"></p-toast>
            <p-panel header="Hostel GO">
                <p-card>
                    <form #f="ngForm" name="hostelgoForm"> 
                    <div class="p-col-12 p-md-12 p-lg-12 ">
                        <div class="p-grid">

                            <div class="p-col-12 p-md-6 p-lg-2">
                                <label for="_district">District</label>
                                <p-dropdown name="_district" class="p-col-12" [options]="districtOptions"
                                    class="p-col-10" [(ngModel)]="district" (onClick)="onSelect('DT')"
                                    optionLabel="label" required>
                                </p-dropdown>

                            </div>
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <label for="_Taluk">TalukId</label>
                                <p-dropdown name="_Taluk" class="p-col-12" [options]="TalukIdOptions" class="p-col-10"
                                    [(ngModel)]="Taluk" (onClick)="onSelect('TK')" optionLabel="label"
                                    [disabled]="disableTaluk" required>
                                </p-dropdown>
                            </div>

                            <div class="p-col-12 p-md-6 p-lg-2">
                                <label for="_Hostel">Hostel</label>
                                <p-dropdown name="_Hostel" class="p-col-12" [options]="HostelOptions" class="p-col-10"
                                    [(ngModel)]="Hostel" optionLabel="label"  required>
                                </p-dropdown>
                            </div>


                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div><label for="_Gono">Go. No<span class="form-mandatory-field">*</span></label>
                                </div>
                                <input type="text" name="_Gono" class="p-col-10" pInputText [(ngModel)]="Gono"
                                    required />
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div><label for="_GoDate">Go.Date<span class="form-mandatory-field">*</span></label>
                                </div>
                                <p-calendar [(ngModel)]="GoDate" name="_GoDate" [showIcon]="true"
                                    [monthNavigator]="true" [yearNavigator]="true" required></p-calendar>
                            </div>

                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div><label for="_Totalstudent">Total Student<span
                                            class="form-mandatory-field">*</span></label>
                                </div>
                                <input type="text" name="_Totalstudent" class="p-col-10" pInputText
                                    [(ngModel)]="Totalstudent" required />
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div><label for="_Remarks">Remarks<span class="form-mandatory-field">*</span></label>
                                </div>
                                <input type="text" name="_Remarks" class="p-col-10" pInputText [(ngModel)]="Remarks"
                                    required />
                            </div>

                            <div class="p-col-12 p-md-12 p-lg-12">
                                <button pButton type="button" label="Submit" (click)="onSave()" icon="pi pi-sign-in"
                                    class="btn-bg" style="margin-right: 20px;"></button>


                                <button pButton type="button" label="View" (click)="onView()" icon="pi pi-sign-in"
                                    class="btn-bg"></button>

                            </div>
                        </div>
                    </div>

                    <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10"
                        [rowsPerPageOptions]="[5,10,15,20]" totalRecords="totalRecords" pageLinks="3">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [style.width]="col.width">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                            <tr [pSelectableRow]="rowData" class="cursor-pointer"
                                (dblclick)="onRowSelect($event, rowData)">
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                 </form>
                </p-card>
            </p-panel>
        </div>
    </div>
</div>