<block-ui>
<div class="p-col-12 p-md-12 p-lg-12">
    <p-panel header="Attendance">
        <div class="p-grid">
            <div class="p-col-1"></div>
            <div class="p-col-12 p-md-12 p-lg-12">
                <form #f="ngForm" name="attendanceForm">
                    <p-card>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-6 p-lg-1"></div>
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div class="no-pad-top"><label>Hostel Name</label> </div>
                                <input type="text" [(ngModel)]="hostelname" name="hostelname" pInputText required />
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-1"></div>
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div class="no-pad-top"><label>District Name</label> </div>
                                <input type="text" name="districtname" pInputText [(ngModel)]="districtname"
                                    placeholder="District Name" required />
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-1"></div>
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div class="no-pad-top"><label>Taluk Name</label> </div>
                                <input type="text" name="taluknname" [(ngModel)]="taluknname"  placeholder="Taluk Name" pInputText required />
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-3"></div>
                            <div class="p-col-12 p-md-6 p-lg-1"></div>

                            <div class="p-col-12 p-md-6 p-lg-2" style="margin-top: 23px;">
                                <div class="no-pad-top"><label>Date:</label> </div>
                                <p-calendar [(ngModel)]="date" [showIcon]="true" name="date" required>
                                </p-calendar>

                            </div>
                            <div class="p-col-12 p-md-6 p-lg-1"></div>
                            <div class="p-col-12 p-md-6 p-lg-2" style="margin-top: 23px;">
                                <div class="no-pad-top"><label>No.Of.Student</label> </div>
                                <input type="text" name="no_of_student"  [(ngModel)]="no_of_student" pInputText required />
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-1"></div>
                            <div class="p-col-12 p-md-6 p-lg-2" style="margin-top: 23px;">
                                <div class="no-pad-top"><label>Remarks</label> </div>
                                <input type="text" name="remarks" pInputText required [(ngModel)]="remarks" />
                            </div>
                        </div>
                    </p-card>
                </form>
            </div>
            <div class="p-col-12 p-md-6 p-lg12" style="margin-left:35%;">
                <button pButton name="save" type="button" label="Submit" (click)="onSubmit()"></button>

                <button pButton type="button" label="View" style="margin-left:5%;" (click)="onview()"></button>
                <button pButton type="button" label="clear" style="margin-left:5%;" (click)="onClear()"></button>
            </div>
        </div>
            <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
                totalRecords="totalRecords" pageLinks="3">
                <ng-template pTemplate="header" let-columns>
                    <tr>

                        <th *ngFor="let col of columns" [style.width]="col.width">
                            {{col.header}}
                        </th>

                    </tr>
                </ng-template>


                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                    <tr [pSelectableRow]="rowData" class="cursor-pointer" (dblclick)="onRowSelect($event, rowData)">
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>


                </ng-template>
            </p-table>
        
    </p-panel>
</div>
</block-ui>