<block-ui>
<div class="p-col-12 p-md-12 p-lg-12">
    <p-toast position="top-center" key="t-msg"></p-toast>
    <p-panel header="Attendance">
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <form #f="ngForm" name="attendanceForm">
                    <p-card>
                        <div class="p-grid">
                            <div class="p-col-1"></div>
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div class="no-pad-top"><label for="_district">District</label> </div>
                                <input type="text" name="_district" pInputText [(ngModel)]="districtname"
                                    readonly="true" required />
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div class="no-pad-top"><label for="_taluk">Taluk</label> </div>
                                <input type="text" name="_taluk" pInputText [(ngModel)]="taluknname" readonly="true" required />
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-3">
                                <div class="no-pad-top"><label for="_hostelname">Hostel Name</label> </div>
                                <input type="text" pInputText [(ngModel)]="hostelname" name="_hostelname" readonly="true"   required />
                            </div>
                            

                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div class="no-pad-top"><label for="_date">Date<span
                                    class="form-mandatory-field">*</span></label> </div>
                                <p-calendar [showOtherMonths]="false" [(ngModel)]="date" [showIcon]="true" name="_date" 
                                (onSelect)="onView()" dateFormat="dd/mm/yy" required>
                                </p-calendar>
                                <div style="font-size: smaller; font-style: italic;"> 
                                <span>*Note:Select date to view attendance list</span>
                            </div>
                            </div>
                            <div #row3 class="p-col-12 p-md-12 p-lg-12">
                            <div class="p-grid">
                            <div class="p-col-1"></div>
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div class="no-pad-top"><label for="_noofstudent">No.of Students<span
                                    class="form-mandatory-field">*</span></label> </div>
                                <input type="text" name="_noofstudent"  [(ngModel)]="no_of_student" [readonly]="disableFields" pInputText required />
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div class="no-pad-top"><label for="_remarks">Remarks<span
                                    class="form-mandatory-field">*</span></label> </div>
                                <input type="text" name="_remarks" [readonly]="disableFields" pInputText required [(ngModel)]="remarks" />
                            </div>
                        </div>
                        </div>
                    </div>
            <div class="p-col-12 p-md-6 p-lg-12 txt-center">
                <button pButton name="_save" type="button" label="Submit" icon="pi pi-save" (click)="onSubmit()" [disabled]='((!f.valid) || disableFields)'></button>&nbsp;
                <button pButton type="button" label="Clear"  icon="pi pi-times-circle" (click)="onClear()"></button>
            </div>
        </p-card>
    </form>
</div>
        </div>      
    </p-panel>
</div>
</block-ui>