<block-ui>
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-lg-12">
            <p-toast position="top-center" key="t-msg"></p-toast>
            <p-panel header="Student Transfer">
                <form #f="ngForm" name="transferForm">
                    <p-card>
                        <div class="p-col-12 no-pad-top">
                            <div class="p-grid">
                                <div #row1 class="p-col-12 p-md-12 p-lg-12">
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-12 p-lg-2">
                                            <div><label for="_year">Accounting Year<span
                                                        class="form-mandatory-field">*</span></label></div>
                                            <p-dropdown name="_year" [options]="yearOptions" (onClick)="onSelect()"
                                                [(ngModel)]="year" (onChange)="loadStudentDetails()" required>
                                            </p-dropdown>
                                        </div>
                                        <div class="p-col-12 p-md-12 p-lg-2 txt-center">
                                            <button pButton type="button" label="Approve" (click)="click()"></button>
                                        </div>
                                    </div>
                                </div>
                                <div #row2 class="p-col-12 p-md-12 p-lg-12">
                                    <p-table styleClass="p-datatable-gridlines" [columns]="studentDetailCols"
                                        [value]="studentDetails" [paginator]="true" dataKey="StudentId"  [rows]="10">
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th style="width: 3rem">
                                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                                </th>
                                                  <th style="width: 100px">S.No</th>
                                                <th *ngFor="let col of columns">
                                                    {{col.header}}
                                                </th>
                                                <th>Remarks</th>
                                                <!-- <th style="width: 120px">Select</th> -->
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowIndex="rowIndex" let-rowData
                                            let-columns="columns">
                                            <tr>
                                                <td>
                                                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                                </td>
                                                <td style="width: 100px">{{rowIndex+1}}</td>
                                                <td *ngFor="let col of columns" [style.text-align]="col.align">
                                                    {{rowData[col.field]}}
                                                </td>
                                                <td pEditableColumn>
                                                    <p-cellEditor>
                                                        <ng-template pTemplate="input">
                                                            <input pInputText type="text" [(ngModel)]="rowData.Remarks">
                                                        </ng-template>
                                                        <ng-template pTemplate="output">
                                                            {{rowData.Remarks}}
                                                        </ng-template>
                                                    </p-cellEditor>
                                                </td>
                                                <!-- <td style="width: 120px" (click)="onDelete(rowData, rowIndex, 1)">
                                                    <p-checkbox [(ngModel)]="selected" binary="true"
                                                    inputId="binary">
                                                </p-checkbox>
                                                </td> -->
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>
                    </p-card>
                </form>
            </p-panel>
        </div>
    </div>
</block-ui>