<p-panel header="Privacy Policy">
    <div class="p-grid">
        <div class="p-col-1"></div>
        <div #row1 class="p-col-12 p-md-12 p-lg-10">
            <p-card> 
                <h4 style="text-align: center;">"As per Tamilnadu Aadhidravidar Welfare Hostel Management,When you use
                    our services, you’re trusting us with your information.<br> We understand that this is a big
                    responsibility<br> and we work hard to protect your information and put you in control."</h4>
                <p>This Privacy Policy is meant to help you understand what information we collect, why we collect it
                    and how you can update, manage, export and delete your information.</p>
                <h4>Required Permissions</h4>
                <h5 style="text-decoration: underline;">Camera and Storage access</h5>
                <p>-> This application accesses your camera,audio and storage only to get the particular data we need to
                    run the application.<br>
                    ->Revoking the permisiion will limit the application functionality.<br>
                    -> We never access or store your personal information.It's purely safe and friendly to use. </p>
                <h5 style="text-decoration: underline;">Specific Information</h5>
                <p>
                    ->We use information that we collect, such as your email address,mobile number to interact with you
                    directly.<br>
                    ->We never let any other websites or users to access your information.
                </p>
                <h5 style="text-decoration: underline;">Location Access</h5>
                <p>->The types of location data that we collect and how long we store it depend in part on your device
                    and account settings.<br>
                    ->We collect information about your location when you use our services, which helps us offer
                    features like latitude, longitude to capture image based on your hostel location.
                </p>
                <h4>Security</h4>
                We don’t share information that personally identifies you with advertisers, such as your name, email,
                mobile number or any of your documents.We are responsible for any misusage of your personal
                information.You may contact us on <span class="login-link">cadw.tn@nic.in</span> for any queries.
            </p-card>
            </div>
        </div>