<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12">
     <p-toast position="top-center" key="t-msg"></p-toast>
     <p-panel header="Approval">
         <p-card>
             <form #f="ngForm" name="approvalForm">
                 <div #row1 class="p-col-12 p-md-12 p-lg-12">
                     <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <label for="_districtname">District Name</label>
                                <input type="text" name="_districtname" pInputText [(ngModel)]="districtName" />
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <label for="_talukname">Taluk Name</label>
                            <input type="text" name="_talukname" pInputText [(ngModel)]="talukName" />
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-3">
                            <label for="_hostelname">Hostel Name</label>
                            <input type="text" name="_hostelname" pInputText [(ngModel)]="hostelName" />
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <div><label for="_approvaltype">Approval Type</label></div>
                            <p-dropdown name="_approvaltype" [options]="ApprovaltypeOptions"
                            (onClick)="onSelect('AL')" (onChange)="loadId()" [(ngModel)]="approvalType" required>
                            </p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <div><label for="_reqid">Request ID</label></div>
                            <p-dropdown name="_reqid" [options]="RequestidOptions"
                                 [(ngModel)]="requestId" required>
                            </p-dropdown>
                        </div>
                        <div #row3 class="p-col-12 p-md-12 p-lg-12 txt-center">
                            <button pButton type="button" label="Submit" (click)="onSubmit()"
                            [disabled]="(!f.valid)" class="btn-bg"></button>&nbsp;
                                <!-- <button pButton type="button" label="View" (click)="onView()"
                                class="btn-bg"></button>&nbsp;
                                <button pButton type="button" label="Clear" 
                                icon="pi pi-times-circle" (click)="onClear()"></button> -->
                        </div>
                     </div>
                 </div>
             </form>
         </p-card>
     </p-panel>
    </div>
</div>
