<div #chnpwd class="p-col-12 p-md-12 p-lg-12">
    <p-toast position="top-center" key="t-msg"></p-toast>
    <div class="p-grid">
        <div class="p-col-3"></div>
        <div class="p-col-12 p-md-10 p-lg-6 no-padding card">
            <div style="height: 50px;" class="login-header">
                <div class="txt-center login-header-txt">Change Password</div>
            </div>
            <div class="p-grid">
                <div class="p-col-3"></div>
                <div class="p-col-12 p-md-12 p-lg-6">
                    <div #uname class="p-col-12 p-md-12 p-lg-12">
                        <div><label for="_newpwd">New Password</label></div>
                        <div> <input type="password" name="_newpwd" pInputText  [(ngModel)]="newPassword" required>
                        </div>
                    </div>
                    <div #pwd class="p-col-12 p-md-12 p-lg-12">
                        <div><label for="_confirmpwd">Confirm Password</label></div>
                                <div> <input type="password" name="_confirmpwd" pInputText [(ngModel)]="confirmPassword"
                                     (input)="checkPassword($event)"   required></div>
                                        <div *ngIf="showErrMsg">Password did not match</div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 txt-center align-center">
                <button pButton type="button" label="Submit"  (click)="onSubmit()"></button>
            </div>
       
        </div>
    </div>
</div>