<div #pwdchng class="p-col-12 p-md-12 p-lg-12">
    <div class="p-grid">
        <div class="p-col-2"></div>
        <div class="p-col-10">
            <p-panel header="Change Password">
                <p-card>
                    <div class="p-grid">
                        <div class="p-col-1"> </div>
                        <div class="p-col-10">
                            <div class="p-col-4">
                                <div><label for="_oldpwd">Old Password</label></div>
                                <div> <input type="password" name="_oldpwd" pInputText [(ngModel)]="oldPassword" required>
                                </div>
                            </div>
                            <div class="p-col-4">
                                <div><label for="_newpwd">New Password</label></div>
                                <div> <input type="password" name="_newpwd" pInputText
                                     [(ngModel)]="newPassword"  (input)="checkPassword()" required>
                                </div>
                            </div>
                            <div class="p-col-4">
                                <div><label for="_confirmpwd">Confirm Password</label></div>
                                <div> <input type="password" name="_confirmpwd" pInputText [(ngModel)]="confirmPassword"
                                     (input)="checkPassword()"  required></div>
                                        <div *ngIf="showErrMsg" style="color: rgb(250, 15, 62); font-size: 12px;">Password did not match</div>
                            </div>
                            <div class="p-col-12">
                                
                            </div>
                        </div>
                    </div>
                </p-card>
            </p-panel>
        </div>
    </div>
</div>