<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12">
        <p-toast position="top-center" key="t-msg"></p-toast>
            <p-panel header="HostelMaster">
                <p-card>
                    <form #f="ngForm" name="hostelmasterForm">
                        <div class="p-col-12 p-md-12 p-lg-12 ">
                            <div class="p-grid">
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_Hosteltype">Hostel Type</label></div>
                                    <p-dropdown name="_Hosteltype" [options]="HosteltypeOptions"
                                        [(ngModel)]="Hosteltype" (onClick)="onSelect('HT')"
                                        required>
                                    </p-dropdown>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_Functioningtype">Hostel Functioning Type</label></div>
                                    <p-dropdown name="_Functioningtype" [options]="FunctioningtypeOptions"
                                        [(ngModel)]="Functioningtype" (onClick)="onSelect('HF')"
                                        [disabled]="disableFields" required>
                                    </p-dropdown>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <label for="_Districtcode">District</label>
                                    <p-dropdown name="_Districtcode" [options]="DistrictcodeOptions"
                                        [(ngModel)]="Districtcode" (onClick)="onSelect('DT')"
                                        [disabled]="disableFields" required>
                                    </p-dropdown>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <label for="_TalukId">Taluk</label>
                                    <p-dropdown name="_TalukId"  [options]="TalukIdOptions"
                                         [(ngModel)]="TalukId" (onClick)="onSelect('TK')"
                                        [disabled]="disableFields" required>
                                    </p-dropdown>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_hostelname">Hostelname<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="text" name="_hostelname" class="p-col-10" pInputText
                                    [disabled]="disableFields" [(ngModel)]="Hostelname" required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_hosteltamilname">HostelnameTamil<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="text" name="_hosteltamilname" class="p-col-10" pInputText
                                    [disabled]="disableFields"  [(ngModel)]="Hosteltamilname" required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_Buildingno">Buildingno<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="text" name="_Buildingno" class="p-col-10" pInputText
                                        [(ngModel)]="Buildingno" required />
                                </div>

                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_Street">Street<span class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="text" name="_Street" class="p-col-10" pInputText [(ngModel)]="Street"
                                        required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_Landmark">Nearest Landmark<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="text" name="_Landmark" class="p-col-10" pInputText
                                        [(ngModel)]="Landmark" required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_pincode">Postal Code<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input class="p-col-12" name="_pincode" type="text" pInputText minlength="6"
                                        maxlength="6" [(ngModel)]="pincode" appInputFormat="digitOnly" required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_Totalstudent">Total Student<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="text" name="_Totalstudent" class="p-col-10" pInputText
                                        [(ngModel)]="Totalstudent"  appInputFormat="digitOnly" required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_mobno">Mobile Number<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input class="p-col-12" type="text" name="_mobno" pInputText minlength="10"
                                        maxlength="10" [(ngModel)]="mobileNo" appInputFormat="digitOnly" required />
                                        
                                </div>
                                <div class="p-col-12 txt-center">
                                    <button pButton type="button" label="Submit" (click)="onSubmit()" 
                                    [disabled]="((disableFields && (!f.dirty || !f.valid)) || (!disableFields && !f.valid))"  class="btn-bg"></button>&nbsp;
                                        <button pButton type="button" label="View" (click)="onView()" 
                                        class="btn-bg"></button>
                                </div>
                          <p-table #dt [columns]="cols" [value]="data" [paginator]="true" [rows]="10"
                          [rowsPerPageOptions]="[5,10,15,20]"  totalRecords="totalRecords" pageLinks="3"
                          [globalFilterFields]="['Name','HostelNameTamil','HostelName']">
                          <ng-template pTemplate="caption">
                            <div class="p-d-flex">
                                <span class="p-input-icon-left p-ml-auto">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                                </span>
                            </div>
                            </ng-template>
                          <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width: 90px;">S.No:</th>
                              <th *ngFor="let col of columns" [style.width]="col.width">
                                {{col.header}}
                              </th>
                              <th style="width: 50px;">Image</th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                            <tr [pSelectableRow]="rowData" class="cursor"  (dblclick)="onRowSelect($event, rowData)">
                              <td style="width: 90px;">{{rowIndex + 1}}</td>
                              <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                              </td>
                              <td (click)="showImage(rowData.url)">
                                <img alt="TN ADW Hostel image" [src]="rowData.url" width="32"
                                    style="vertical-align: middle" />
                            </td>
                            </tr>
                          </ng-template>
                        </p-table>
                            </div>
                        </div>
                    </form>
                </p-card>

            </p-panel>
            <p-dialog #dialog header="Hostel Image" [(visible)]="showDialog" [modal]="showDialog" [maximizable]="true" [style]="{width: '90vw', height: '90vw'}">
                <img alt="TN ADW Hostel image" [src]="hostelImage" style="vertical-align: middle" />
            </p-dialog>
        </div>
    </div>

