<div class="p-col-12 p-md-12 p-lg-12">
    <div class="p-grid">
        <div class="p-col-1"></div>
        <div class="p-col-12 p-md-12 p-lg-12">
            <p-panel header="HostelMaster">
                <p-card>
                    <form #f="ngForm" name="hostelmasterForm">
                        <div class="p-col-12 p-md-12 p-lg-12 ">
                            <div class="p-grid">
                                <div class="p-col-12 p-md-6 p-lg-2 ">
                                    <div><label for="_Hosteltype">Hostel Name</label></div>
                                    <p-dropdown name="_Hosteltype" [options]="HosteltypeOptions"
                                        [(ngModel)]="Hosteltype" (onClick)="onSelect('HT')"
                                        required>
                                    </p-dropdown>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <label for="_Districtcode">District</label>
                                    <p-dropdown name="_Districtcode" class="p-col-12" [options]="DistrictcodeOptions"
                                        class="p-col-10" [(ngModel)]="Districtcode" (onClick)="onSelect('DT')"
                                         required>
                                    </p-dropdown>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <label for="_TalukId">Taluk</label>
                                    <p-dropdown name="_TalukId" class="p-col-12" [options]="TalukIdOptions"
                                        class="p-col-10" [(ngModel)]="TalukId" (onClick)="onSelect('TK')"
                                        required>
                                    </p-dropdown>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_Hostelname">Hostelname<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="text" name="_Hostelname" class="p-col-10" pInputText
                                        [(ngModel)]="Hostelname" required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_Hostelname">HostelnameTamil<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="text" name="_Hostelname" class="p-col-10" pInputText
                                        [(ngModel)]="Hosteltamilname" required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_Buildingno">Buildingno<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="text" name="_Buildingno" class="p-col-10" pInputText
                                        [(ngModel)]="Buildingno" required />
                                </div>

                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_Street">Street<span class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="text" name="_Street" class="p-col-10" pInputText [(ngModel)]="Street"
                                        required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_Landmark">Nearest Landmark<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="text" name="_Landmark" class="p-col-10" pInputText
                                        [(ngModel)]="Landmark" required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_pincode">Postal Code<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input class="p-col-12" name="_pincode" type="text" pInputText minlength="6"
                                        maxlength="6" [(ngModel)]="pincode" appInputFormat="digitOnly" required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_Longitude">Longitude<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="text" name="_Longitude" class="p-col-10" pInputText
                                        [(ngModel)]="Longitude" required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_Latitude">Latitude<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="text" name="_Latitude" class="p-col-10" pInputText
                                        [(ngModel)]="Latitude" required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_Radius">Radius<span class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="text" name="_Radius" class="p-col-10" pInputText [(ngModel)]="Radius"
                                        required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_Totalstudent">Total Student<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="text" name="_Totalstudent" class="p-col-10" pInputText
                                        [(ngModel)]="Totalstudent" required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_mobno">Mobile Number<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input class="p-col-12" type="tel" name="_mobno" pInputText minlength="10"
                                        maxlength="10" [(ngModel)]="mobileNo" appInputFormat="digitOnly" required />
                                        
                                </div>
                                <div class="p-col-12 txt-center">
                                    <button pButton type="button" label="Submit" (click)="onSubmit()" 
                                        class="btn-bg" style="margin-left: 3%;"></button>
                                        <button pButton type="button" label="View" (click)="onView()" 
                                        class="btn-bg" style="margin-left: 4%;"></button>
                                </div>
                          <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10"
                          [rowsPerPageOptions]="[5,10,15,20]"  totalRecords="totalRecords" pageLinks="3">
                          <ng-template pTemplate="header" let-columns>
                            <tr>
            
                              <th *ngFor="let col of columns" [style.width]="col.width">
                                {{col.header}}
                              </th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                            <tr [pSelectableRow]="rowData" class="cursor"  (dblclick)="onRowSelect($event, rowData)">
                            
                              <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                              </td>
                              
                            </tr>
                          </ng-template>
                        </p-table>
                            </div>
                        </div>
                    </form>
                </p-card>

            </p-panel>
        </div>
    </div>

</div>
