<block-ui>
<div class="p-col-12 p-md-12 p-lg-12 ">
    <p-panel header="District">
    <div class="p-grid">        
        <div class="p-col-12 p-md-12 p-lg-12">          
                <form #f="ngForm" name="district">
                    <p-card>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-6 p-lg-2"></div>
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <div><label>District Name<span
                                class="form-mandatory-field">*</span></label></div>
                            <input type="text" pInputText [(ngModel)]="Districtname" name="district" required />
                        </div>

                        
                        <div class="p-col-12 p-md-12 p-lg-3" style="margin-top: 23px;">
                            <p-radioButton name="Flag" label="ACTIVE" value=1 [(ngModel)]="selectedType" required>
                            </p-radioButton>
                            <p-radioButton name="Flag" label="INACTIVE" value=0 [(ngModel)]="selectedType" required>
                            </p-radioButton>
                        </div>
                



                        </div>
                    </p-card>
                </form>
                <div class="p-col-12 p-md-6 p-lg12" style = "margin-left:35%;"> 
                    <button pButton name="save" type="button" label="Submit"  (click)="onSubmit()"></button>
                  
                      <button pButton type="button" label="View" (click)="onview()" style = "margin-left:5%;"></button>
                      <button pButton type="button" label="clear" (click)="onClear()" style = "margin-left:5%;"></button> 
                    </div>
        </div>
    </div>
    <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
    totalRecords="totalRecords" pageLinks="3">
<ng-template pTemplate="header" let-columns > 
<tr>
  
  <th *ngFor="let col of columns" [style.width]="col.width">
    {{col.header}}
  </th>
  
</tr>
</ng-template>

  
<ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
  <tr [pSelectableRow]="rowData"  class="cursor-pointer" (dblclick)="onRowSelect($event, rowData)">
  <td *ngFor="let col of columns">
    {{rowData[col.field]}}
  </td>
</tr>
  

</ng-template>
 </p-table>   
    </p-panel>
</div>
</block-ui>