
<div class="p-col-12 p-md-12 p-lg-12 content">
    <p-panel header="FoodMaster">
    <div class="p-grid">
        <!-- <div class="p-col-1"></div> -->
        <div class="p-col-12 p-md-12 p-lg-12">
            
                <form #f="ngForm" name="foodmaster">
                    <p-card>
                        <!-- <div class="p-col-12 no-pad-top" style="margin-left: -8px;"> -->
                            <!-- <div #row1 class="p-col-12 p-md-12 p-lg-12"> -->
                        <div class="p-grid">
                            <div class="p-col-12 p-md-6 p-lg-1"></div> 
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <div><label>Weeek Days:வார நாட்கள்<span
                                class="form-mandatory-field">*</span></label></div>
                            <p-dropdown name="selectedday" [options]="daysOptions" [(ngModel)]="selectedday"
                                optionLabel="label" (onClick)="onSelect()" required>
                            </p-dropdown>
                        </div>
                        <!-- <div class="p-col-12 p-md-6 p-lg-1"></div>  -->
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <div><label>BreakFast:காலை உணவு<span
                                class="form-mandatory-field">*</span></label></div>
                            <input type="text" pInputText [(ngModel)]="BreakFast" name="BreakFast" required />
                        </div>

                        <!-- <div class="p-col-12 p-md-6 p-lg-1"></div>  -->
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <div><label>Lunch:மதிய உணவு<span
                                class="form-mandatory-field">*</span></label></div>
                            <input type="text" pInputText [(ngModel)]="Lunch" name="Lunch" required />
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-5"></div> 
                        <div class="p-col-12 p-md-6 p-lg-1"></div> 
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <div><label>Snacks:சிற்றுண்டி<span
                                class="form-mandatory-field">*</span></label></div>
                            <input type="text" pInputText [(ngModel)]="Snacks" name="Snacks" required />
                        </div>
                        <!-- <div class="p-col-12 p-md-6 p-lg-1"></div>  -->
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <div><label>Dinner:இரவு உணவு<span
                                class="form-mandatory-field">*</span></label></div>
                            <input type="text" pInputText [(ngModel)]="Dinner" name="Dinner" required />
                        </div>
                        </div>
                        <!-- </div> -->
                        <!-- </div> -->
                    </p-card>
                </form>
        </div>
        
        

        <div class="p-col-12 p-md-6 p-lg12" style="margin-left:35%;">
            <button pButton name="save" type="button" label="Submit" (click)="onSubmit()"></button>

            <button pButton type="button" label="View" style="margin-left:5%;" (click)="onview()"></button>
            <button pButton type="button" label="clear" style="margin-left:5%;" (click)="onClear()"></button>
        </div>
    </div>

     <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
        totalRecords="totalRecords" pageLinks="3">
  <ng-template pTemplate="header" let-columns > 
    <tr>
      
      <th *ngFor="let col of columns" [style.width]="col.width">
        {{col.header}}
      </th>
      
    </tr>
  </ng-template>
 
      
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
      <tr [pSelectableRow]="rowData"  class="cursor-pointer" (dblclick)="onRowSelect($event, rowData)">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
      
  
  </ng-template>
     </p-table>   
    </p-panel>
</div>

