<div class="p-col-12 p-md-12 p-lg-12">
    <p-toast position="top-center" key="t-msg"></p-toast>
    <p-panel header="Food Master">
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <form #f="ngForm" name="foodmasterForm">
                    <p-card>
                       
                        <div class="p-grid">
                            <div class="p-col-12 p-md-6 p-lg-1"></div>
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div><label for="_day">Week Days:வார நாட்கள்<span class="form-mandatory-field">*</span></label>
                                </div>
                                <p-dropdown name="_day" [options]="daysOptions" [(ngModel)]="selectedday"  
                                   (onClick)="onSelect('D')" required>
                                </p-dropdown>
                            </div>
                          
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div><label for="_breakfast">Breakfast:காலை உணவு<span class="form-mandatory-field">*</span></label></div>
                                <input type="text" pInputText [(ngModel)]="BreakFast" name="_breakfast" required />
                            </div>

                          
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div><label for="_lunch">Lunch:மதிய உணவு<span class="form-mandatory-field">*</span></label></div>
                                <input type="text" pInputText [(ngModel)]="Lunch" name="_lunch" required />
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-5"></div>
                            <div class="p-col-12 p-md-6 p-lg-1"></div>
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div><label for="_snacks">Snacks:சிற்றுண்டி<span class="form-mandatory-field">*</span></label></div>
                                <input type="text" pInputText [(ngModel)]="Snacks" name="_snacks" required />
                            </div>
                           
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div><label for="_dinner">Dinner:இரவு உணவு<span class="form-mandatory-field">*</span></label></div>
                                <input type="text" pInputText [(ngModel)]="Dinner" name="_dinner" required />
                            </div>
                       
                    



            <div class="p-col-12 p-md-6 p-lg12" style="margin-left:35%;">
                <button pButton name="save" type="button" label="Submit" icon="pi pi-save" (click)="onSubmit()" [disabled]='(!f.valid || !f.dirty)'></button>

                <button pButton type="button" label="View" style="margin-left:5%;"  icon="pi pi-eye" (click)="onview()"></button>
                <button pButton type="button" label="Clear" style="margin-left:5%;" icon="pi pi-times-circle" (click)="onClear()"></button>
            </div>
    </div>
         <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
            totalRecords="totalRecords"  styleClass="p-datatable-gridlines" >
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>S.No</th>
                    <th *ngFor="let col of columns" [style.width]="col.width">
                        {{col.header}}
                    </th>

                </tr>
            </ng-template>


            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="rowData" class="cursor-pointer" (dblclick)="onRowSelect($event, rowData)">
                    <td>{{rowIndex+1}}</td>
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                </tr>


            </ng-template>
        </p-table>

    </p-card>
</form>
</div>
</div> 
    </p-panel>
    </div>
 