<div class="p-col-12 p-md-12 p-lg-12">
    <p-card>
    <div #main class="p-col-12 p-md-12 p-lg-12 no-pad-top">
        <div #row1 class="txt-center">
            <div #grid1 class="p-grid div-main">
                <div class="p-col-1" style="margin-left: -1.5rem;"></div>
                <div #el1 class="p-col-12 p-md-6 p-lg-2 dashboard overview-box view1 card">
                    <div class="p-col-12 p-md-12 p-lg-12">
                        <span class="dsh-tab-label">Hostel (in No's)</span>
                    </div>
                    <div class="p-col-12 p-md-12 p-lg-12 no-padding">
                        <span class="dsh-tab-value">{{hostelCount | number:'1.0':'en-US'}}</span>
                    </div>
                </div>
                <div #el2 class="p-col-12 p-md-6 p-lg-2 dashboard overview-box view2 card">
                    <div class="p-col-12 p-md-12 p-lg-12">
                        <span class="dsh-tab-label">Wardens (in No's)</span>
                    </div>
                    <div class="p-col-12 p-md-12 p-lg-12 no-padding">
                        <span class="dsh-tab-value">{{wardenCount | number:'1.0':'en-US'}}</span>
                    </div>
                </div>
                <div #el3 class="p-col-12 p-md-6 p-lg-2 dashboard overview-box view3 card">
                    <div class="p-col-12 p-md-12 p-lg-12">
                        <span class="dsh-tab-label">Student (in No's)</span>
                    </div>
                    <div class="p-col-12 p-md-12 p-lg-12 no-padding">
                        <span class="dsh-tab-value">{{studentCount | number:'1.0':'en-US'}}</span>
                    </div>
                </div>
                <div #el4 class="p-col-12 p-md-6 p-lg-2 dashboard overview-box view4 card">
                    <div class="p-col-12 p-md-12 p-lg-12">
                        <span class="dsh-tab-label">Today Expenses</span>
                    </div>
                    <div class="p-col-12 p-md-12 p-lg-12 no-padding">
                        <span class="dsh-tab-value">{{expensesToday | currency:'INR'}}</span>
                    </div>
                </div>
                <div #el5 class="p-col-12 p-md-6 p-lg-2 dashboard overview-box view5 card">
                    <div class="p-col-12 p-md-12 p-lg-12">
                        <span class="dsh-tab-label">Monthly Expenses</span>
                    </div>
                    <div class="p-col-12 p-md-12 p-lg-12 no-padding">
                        <span class="dsh-tab-value">{{expensesMonthly | currency:'INR'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div #row2 class="p-col-12 p-md-12 p-lg-12">
            <div #chart class="p-col-12 p-md-12 p-lg-12 no-padding card border-blue">
                <div class="div-dsh-hd" style="font-weight: 500;">Month Wise Expenses</div>
                <p-chart type="line" [data]="consumptionData" [options]="chartOptions"></p-chart>
            </div>
        </div>
    </div>
</p-card>
</div>