<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12">
        <p-toast position="top-center" key="t-msg"></p-toast>
        <p-panel header="School Wise Document Upload">
            <p-card>
                <div class="p-col-12 no-pad-top">
                    <div class="p-grid">
                        <div class="p-col-2"></div>
                        <div class="p-col-12 p-md-12 p-lg-10">
                            <div class="p-grid">
                                <div #row1 class="p-col-6 p-md-6 p-lg-2">
                                    <div><label for="_district">District<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <p-dropdown name="_district" [options]="districtOptions" [(ngModel)]="district"
                                        (onClick)="onSelect('D')" required>
                                    </p-dropdown>
                                </div>
                                <div #row1 class="p-col-6 p-md-6 p-lg-2">
                                    <div><label for="_school">Institution Name<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <p-dropdown name="_school" [options]="schoolOptions" [(ngModel)]="school"
                                        (onClick)="onSelect('SH')" (ngModelChange)="reloadFields('T')" required>
                                    </p-dropdown>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-3">
                                    <label for="_document">Upload Document<span
                                            class="form-mandatory-field">*</span></label>
                                    <input #declarationForm class="p-col-12" name="_document" type="file" pInputText
                                        (change)="onFileUpload($event)" accept=".pdf,.png,.jpg,.jpeg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-card>
        </p-panel>
    </div>
</div>