/* common styles */
body,html {
    width: 100% !important;
    height: 100% !important;
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 14px !important;
    margin: 0 !important;
    overflow-x: hidden !important;
    color: #474747 !important;
    background-color: #fdf8ef !important;
    line-height: 1.6em !important;
}
.form-mandatory-field {
    color: #ff0131;
}

.content {
    /* padding-bottom: 45px !important;
    padding-top: 7.5rem !important; */
    position: absolute;
    top: 90px !important;
    bottom: 25px !important;
    left: 0;
    right: 0;
    overflow: auto !important;
}

.cursor {
    cursor: pointer !important;
}

.card-sketcky {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.card-material {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.card-material-clear {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.card-plain-bordered {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.card {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%) !important;
    border-radius: 3px !important;
  }
.no-padding {
    padding: 0 !important;
}
.no-pad-btm {
    padding-bottom: 0 !important;
}
.no-pad-top {
    padding-top: 0 !important;
}
.no-pad-rt {
    padding-right: 0 !important;
}
.no-pad-lt {
    padding-left: 0 !important;
}

.txt-end {
    text-align: end !important;
}
.txt-center {
    text-align: center !important;
}

.align-center {
    align-self: center !important;
}
/* .input-spacing {
    margin-right: -3rem;
}
.input-spacing-with-icon {
    margin-right: -0.5rem;
} */
.edit-size {
    font-size: 0.9rem !important;
    position: absolute; 
    right: 0;
    left: 0;
}
.b-size { 
border: 0.5px !important ;
width: 25px!important;
height: 25px !important;
}
.table-format {
    width: 35cm;
    padding-left: 1.3cm;
}
.btn-bg {
    background: #eba611 !important;
    border: 1px solid #f7bd42 !important;
}

/* header */
.login-header {
    background-color: #08747B !important;
    border-color: rgba(255,255,255,.2) !important;
    color: whitesmoke !important;
    top: 0;
    width: 100%;
}
.login-header-txt {
    font-size: 15px;
    padding-top: 15px;
}
.top-bar {
    position: absolute !important;
    overflow: hidden !important;
    background-color: #08747B !important;
    border-color: rgba(255,255,255,.2) !important;
    color: whitesmoke !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    width: 100%;
}
.header-text {
    font-size: 21px;
}
.sub-header {
    font-size: 19px;
}
.welfare-icon {
    margin-left: -5%;
}
.menu-icon {
    margin-right: 5px; margin-left: 5px;margin-top: 2%;
}
.menu-logo {
    margin-left: 5px;
}

@media only screen and (max-width: 600px) {
    .header-text {
        font-size: 18px !important;
    }
    .sub-header {
        margin-top: 2px !important;
        font-size: 14px !important;
    }
    .welfare-icon {
        margin-left: -2% !important;
    }
    .footer-text {
        font-size: 15px !important;
    }
    .login-header-txt {
        font-size: 13px !important;
        padding-top: 5px !important;
    }
    .menu-icon {
        margin-right: 10px !important;
    }
    .menu-logo {
        width: 55px !important;
    }
    .content {
        top: 100px !important;
    }
  }

  /* registration */
  .div-main {
    padding: 20px 10px 0 10px !important;
  }
  .div-header {
    padding: 5px;
    background: aliceblue;
    color: #105c61;
  }
  .border-blue {
    border: 0.5px solid aliceblue;
  }
/* footer */
.footer {
    position: absolute;
    overflow: hidden !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100%;
    text-align: center;
    background-color: #08747B !important;
    border-color: rgba(255,255,255,.2) !important;
    color: whitesmoke !important;
}
.footer-text {
    font-size: 16px;
}

/* primeng styles */

.p-button {
    color: #fff;
    background: #105c61 !important;
    border: 1px solid #208991 !important;
    padding: .5rem 1rem;
    font-size: 1rem;
    transition: background-color .2s,color .2s,border-color .2s,box-shadow .2s;
    border-radius: 3px;
}
.p-button:enabled:hover {
    background: #116d74 !important;
    color: whitesmoke;
    border-color: #728385 !important;
}
.p-inputtext:enabled:hover {
    border-color: #50dee9 !important;
}
.p-panel .p-panel-header {
    border: 1px solid #dee2e6;
    padding: 1rem;
    background: #105c61 !important;
    color: whitesmoke !important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.p-panel .p-panel-content {
    padding: 0.5rem !important;
    border: 1px solid #70d2da !important;
    /* background: rgb(255, 251, 245) !important; */
    color: #474747 !important;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 0 none;
}
.p-panel .p-panel-header .p-panel-title {
    font-size: 16px !important;
}
/* .p-card {
    background: rgb(255, 251, 245) !important;
    color: #474747 !important;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 3px;
} */
.p-card .p-card-body {
    padding: 0rem 0.5rem 0.5rem 0.5rem !important;
}
.p-sidebar-left {
    top: 0 !important;
    left: 0;
    width: 20rem;
    height: 100%;
    z-index: 10001 !important;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.2rem #ffffff !important;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    /* background: #e38e10 !important; */
    background: #208991!important;
    border-color: #208991 !important;
    /* color: whitesmoke !important; */
    color: #fff !important;
    border-radius: 20px 20px 0 0 !important;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border: 0 solid transparent;
    border-bottom: 2px solid #208991;
    padding: 0.75rem 1.3rem !important;
    font-weight: 600;
    transition: box-shadow .2s;
    margin: 0 0 -2px;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: inset 0 0 0 .2rem #d5f3f5!important;
}
.p-dropdown {
    height: 35px;
    width: -webkit-fill-available !important;
}
.p-dropdown .p-dropdown-panel {
    z-index: 999 !important;
}
.p-button.p-button-icon-only {
    width: 2.357rem;
    padding: 0 !important;
    /* margin-left: -20% !important; */
}
.p-calendar {
    width: -webkit-fill-available !important;
}
.p-calendar .p-inputtext {
    flex: 1 1 auto;
    width: 1% !important;
}
.p-datepicker:not(.p-datepicker-inline) {
    z-index: 999 !important;
}
.p-inputtext {
    width: -webkit-fill-available !important;
}
.p-input-icon-left, .p-input-icon-right {
    position: relative;
    display: block !important;
}
.p-datatable .p-datatable-footer, .p-datatable .p-datatable-thead>tr>th {
    background: #099099 !important;
    color: whitesmoke !important;
    border-color: solid #208991 !important;
}