<div class="p-col-12 p-md-12 p-lg-12 card border-teal">
    <!-- <div class="div-dsh-main txt-center" style="font-weight: 500;">
        <span class="txt-shadow-teal" [ngClass.xs]="'div-dsh-main-txt-xs'" [ngClass.sm]="'div-dsh-main-txt-xs'"
            [ngClass.lt-md]="'div-dsh-main-txt-md'" [ngClass.lg]="'div-dsh-main-txt-lg'">Government Of Tamilnadu - ADW
            Hostel Management System</span>
    </div> -->
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-lg-12" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <p-panel header="Overall Hostel Details">
                <!-- <p-card> -->
                <div style="border: solid 3px;
                color: #808080e3;" class="p-col-12 p-md-12 p-lg-12">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-12 p-lg-4">
                            <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions">
                            </highcharts-chart>
                        </div>
                        <div class="p-col-12 p-md-12 p-lg-4">
                            <highcharts-chart [Highcharts]="highchartss" [options]="ugChartOptions">
                            </highcharts-chart>
                        </div>
                        <div class="p-col-12 p-md-12 p-lg-4">
                            <highcharts-chart [Highcharts]="highcharts" [options]="pgChartOptions">
                            </highcharts-chart>
                        </div>
                    </div>
                </div>
                <div class="p-col-12"></div>
                <div class="p-col-12"></div>
                <div class="p-col-12"></div>
                <div class="p-col-12 p-md-12 p-lg-12">
                    <highcharts-chart [Highcharts]="highcharts" [options]="barchartOptions"
                        style="height: 400px; display: block;">
                    </highcharts-chart>
                </div>
            </p-panel>
        </div>
    </div>
</div>