<div #home class="p-col-12 p-md-12 p-lg-12 content">
    <div class="p-grid">
        <div class="p-col-1 no-padding"></div>
        <div class="p-col-12 p-md-10 p-lg-10 txt-center card-sketcky">
            <img src="assets/layout/images/home3x.png"
                style="border-radius: 10px; margin: 10px;width: -webkit-fill-available;">
            <div class="p-grid">
                <div class="p-col-1"></div>
                <div class="p-col-10" style="text-align: justify;">
                    <div>
                        <p>Tamil Nadu is witnessing a vibrant development phase, with the state government giving
                            special
                            emphasis for the development of the women and children addressing their concern in a multi
                            phased manner to the social welfare and nutritious programme department. </p>
                    </div>
                    <div>
                        <p>
                            The Social Welfare and Nutritious Meal Programme Department of the Government of Tamil Nadu
                            under the able guidance of the Honble Chief Minister of Tamil Nadu had always ensured the
                            welfare of the poor, the downtrodden, Women, Children, Senior Citizens and third genders.
                            Their
                            health, nutrition, education, protection and development have been improved through various
                            Social Welfare Schemes. They have also been provided with innumerable opportunities and
                            facilities to live a dignified life.
                        </p>
                    </div>
                    <div>
                        <p>
                            The Department of Social Welfare is also implementing various Social Legislations for Women
                            like
                            Child Marriage Prohibition Act-2006 and Dowry Prohibition Act,1961, Domestic Violence
                            Act,2005,
                            Maintenance and Welfare of Parents and Senior Citizen’s Act,2007, Sexual Harassment of Women
                            at
                            Work Place Act,2013. The Department is taking several measures to create awareness among
                            women
                            and others in the society on these Acts in order to ensure that women actually benefit from
                            these provisions available for them.
                        </p>
                    </div>
                </div>
                <div class="p-col-1"></div>
            </div>
        </div>
        <div class="p-col-1 no-padding"></div>
    </div>
</div>