<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <p-toast position="top-center" key="t-msg"></p-toast>
        <p-panel header="Hostel details">
            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-6 hst-gridbox no-padding" *ngFor="let h of data">
                    <div class="p-col-12 p-md-12 p-lg-12 hstl-div-hdr">
                        {{h.hname}}
                    </div>
                    <div class="hst-sub-gridbox">
                        <div #div>
                        <div class="p-grid" style="margin: auto;">
                            <div class="p-col-12 p-md-4 p-lg-4 hstl-dsh-box hstl-dsh-box1">
                                Type
                                <div>
                                    {{h.type}}
                                </div>
                            </div>
                            <div class="p-col-12 p-md-4 p-lg-4 hstl-dsh-box hstl-dsh-box2">
                                Sanctioned Count
                                <div>
                                    {{h.sanctionedCount}}
                                </div>
                            </div>
                            <div class="p-col-12 p-md-4 p-lg-4 hstl-dsh-box hstl-dsh-box3">
                                <div>
                                    Student Count
                                </div>
                                <div>
                                    {{h.studentCount}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </p-panel>
    </div>
</div>