<div class="p-col-12 p-md-12 p-lg-12 content">
    <div class="p-grid">
        <div class="p-col-1"></div>
        <div class="p-col-12 p-md-12 p-lg-12">
            <p-panel header="Commodity Master">
                <form #f="ngForm" name="commodityMaster">
                    <p-card>
                        <div class="p-col-12 no-pad-top">
                            <div class="p-grid">
                                <div class="p-col-2"></div>
                                <div #row1 class="p-col-12 p-md-12 p-lg-8">
                                    <div class="p-grid"> 
                                    <div class="p-col-12 p-md-12 p-lg-3">
                                        <div><label for="_commodityname">Commodity Name(in ENGLISH)<span
                                                    class="form-mandatory-field">*</span></label></div>
                                        <input type="text" name="_commodityname" pInputText
                                            [(ngModel)]="commodityName" required />
                                    </div>
                                    <div class="p-col-12 p-md-12 p-lg-3">
                                        <div><label for="_commoditytamilname">Commodity Name(in TAMIL)<span
                                                    class="form-mandatory-field">*</span></label></div>
                                        <input type="text" name="_commoditytamilname" pInputText
                                            [(ngModel)]="commodityTamilName" required />
                                    </div>
                                    <div class="p-col-12 p-md-12 p-lg-3" style="margin-top: 23px;"> 
                                    <p-radioButton  name="Flag" label="ACTIVE" value=1 [(ngModel)]="active" required>
                                    </p-radioButton>
                                    <p-radioButton  name="Flag" label="INACTIVE" value=0 [(ngModel)]="inactive"
                                        required>
                                    </p-radioButton>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-5" style="text-align: right;"> 
                                        <button pButton type="button" label="Save"></button>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-6">
                                        <button pButton type="button" label="View"></button>
                                    </div>
                                    </div>
                                </div>
                                    </div>
                        </div>
                    </p-card>
                </form>
            </p-panel>
        </div>
    </div>
</div>